@import './variables.scss';

.city-modal {
    position: fixed;
    z-index: 300;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.77);
    display: flex;
    align-items: center;
    justify-content: center;

    &__container {
        position: relative;
        background-color: rgb(255, 255, 255);
        border-radius: 4px;
        border: 0.5px rgb(186, 186, 186);
        padding: 30px 100px;
    }

    .cities-list {
        &__item {
            margin-top: 15px;
            cursor: pointer;

            &_checked {
                color: $color-red;
            }
        }
    }

    .close-modal {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;

        .material-icons {
            font-size: 32px;
        }
    }
}