@import './variables.scss';

.header-wrapper {
    background-color: $menu-color;
    
    .header {
        height: $header-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        font-size: 14px;
    
        &__side {
            display: flex;
    
            &_left {
                align-items: center;
            }
        }
    
    
        &__item {
            position: relative;
            font-weight: bold;
            margin: 0 20px;
    
            &_with-icon {
                display: flex;
            }
    
            &_margin-right-none {
                margin-right: 0;
            }
            &_margin-left-none {
                margin-left: 0;
            }
    
            &:hover {
                color: rgba(255, 255, 255, 0.76);
                cursor: pointer;
                
            }
        }
    
        &__button {
            background-color: rgba(255, 255, 255, 0.16);
            border-radius: 32px;
            padding: 13px 36px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            -webkit-box-align: stretch;
            align-items: stretch;
            border: 0px solid rgb(0, 0, 0);
            box-sizing: border-box;
    
            &:hover {
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.26);
            }
        }
    
        .language-container {
            position: absolute;
            top: 35px;
            right: -2px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: rgba(0, 0, 0, 0.13) 0px 4px 31px;
            border-radius: 8px;
            width: max-content;
            color: $menu-color;
            padding: 10px 0;
            
    
                &__item {
                    padding: 5px 17px;
    
                    &_checked {
                        color: $color-red;
                    }
                }
            }
    
            .arrow {
                position: absolute;
                top: 21px;
                left: 3px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
                border-bottom: 15px solid rgb(217, 217, 217);
            }
    
    }
}

@media (max-width: 981px) {
    .header-wrapper {
        display: none;
    }
}

