@import './variables.scss';

.order-container {
    min-height: 90vh;
}

.order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    &__contacts {
        width: 40%;
        box-sizing: border-box;
    }

    .order-form {

        &__field {
            position: relative;
            margin-top: 30px;
        }

        &__label {
            font-size: 20px;

            &_error {
                color: $color-red;
            }
        }

        &__input {
            border: none;
            width: 100%;
            text-align: left;
            height: 40px;
            font-size: 18px;
            line-height: 27px;
            box-sizing: border-box;
            padding: 0px;
            border-bottom: 1px solid rgb(186, 186, 186);
            background-color: transparent;
            outline: none;

            &_error {
                color: $color-red;
            }



            &:focus {
                outline: none;
                box-shadow: none;
                background-color: transparent;
            }


            &::placeholder {
                opacity: 0.5;
            }

            &:on {
                border: none;
            }
        }
    }

    &-list {
        width: 50%;
        margin-bottom: 20px;
        padding: 32px;
        border-radius: 32px;
        background-color: rgb(247, 247, 247);
        box-sizing: border-box;

        &__img-container {
            margin-right: 20px;
            img {
                width: 80px;
                height: 80px;
                object-fit: fill;
            }
        }

        &__item {
            display: flex;
            margin-top: 20px;
        }

        &__details {
            .item-title {
                font-size: 24px;
            }

            .item-despription {
                font-size: 12px;
            }

            .item-params {
                font-size: 12px;
                margin-top: 10px;
            }

            .item-changes {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                .item-price {
                    margin: 0 20px;
                }

                .item-delete {
                    cursor: pointer;
                }
            }
   
        }
    }
}

.item-change-btn {
    background-color: #e4e4e4;
    border-radius: 100px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: space-between;
    background-color: #e4e4e4;
    color: $menu-color;
    font-weight: bold;

    .order-btn__count {
        cursor: pointer;
        font-size: 24px;
    }
}

.order-submit {
    display: flex;
    justify-content: end;
    margin-top: 30px;

    &__btn {
        width: 250px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: rgb(254, 0, 33);
        border-radius: 100px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
}

.order-sum {
    text-align: right;
    margin-top: 30px;
    font-size: 32px;

    span {
        color: $color-red;
    }
}


@media (max-width: 900px) {
    .order {
       flex-direction: column-reverse;

        &__contacts {
            width: 100%;
        }
        
        &-list {
            width: 100%;
        }
    }
}